<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8" />
  <title>52 veckor av kärlek</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>

<div class="center">

  <h1>52 anledningar att du är bäst</h1>

  <div class="card" id="mainCard">
    <h2 class="week-label">
      Vecka <span id="weekNumber"></span>
    </h2>
    <h3 id="reason"></h3>
    <p id="memory"></p>

    <div class="navigation">
      <button id="prevBtn">←</button>
      <button id="nextBtn">→</button>
    </div>
  </div>

  <div class="card add-reason">
    <h3>Lägg till din egen anledning 💌</h3>
    <textarea id="momReason" placeholder="Din anledning denna veckan..."></textarea>
    <div class="buttonRow">
      <button id="saveBtn">Spara</button>
      <button onclick="window.print()">PDF</button>
    </div>
    <p id="savedMsg"></p>
  </div>

</div>

<script src="../static/js/script.js"></script>
</body>
</html>

